/*------ RESTARTING BROWSER ------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/*------ BASES ------*/
:root {
  /* colors */
  --bg-color: rgb(250, 250, 250);
  --blue-color: rgb(0, 149, 246);

  /* font variables */
  --font-size: 0.875rem;
}

body {
  background-color: var(--bg-color);
}

main {
  height: 100vh;
  gap: 2.03125rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------ SMARTPHONE IMAGE SECTION ------*/
#section-smartphone-image img.smartphone-image {
  height: 36.25rem;
}

/*------ LOGIN & LOGUP SECTION ------*/
#section-log #login-boxes {
  flex-direction: column;
  gap: 0.625rem;
}

#section-log #login-boxes #login-box {
  width: 100%;
  flex-direction: column;
  background-color: white;
  padding: 2rem 5rem;
  gap: 1.5rem;
  border: 1px solid rgb(219, 219, 219);
}

#section-log #login-boxes #login-box a {
  text-decoration: none;
  font-size: var(--font-size);
  font-weight: 600;
  background-color: var(--blue-color);
  color: white;
  padding: 0.38rem 0.5rem;
  border-radius: 4px;
}

#section-log #login-boxes #login-box a#remove-account {
  color: var(--blue-color);
  background-color: white;
}

#section-log #login-boxes #logup-box {
  width: 100%;
  flex-direction: column;
  background-color: white;
  padding: 1.6rem 5rem;
  border: 1px solid rgb(219, 219, 219);
}

#section-log img.instagram-logo-image {
  width: 10.93rem;
}

#section-log img.user-photo {
  width: 5.25rem;
  border-radius: 6.25rem;
}

#section-log #login-boxes #logup-box span {
  font-size: var(--font-size);
  color: rgb(142, 142, 142);
}

#section-log #login-boxes #logup-box a {
  text-decoration: none;
  color: var(--blue-color);
  font-size: var(--font-size);
  font-weight: 600;
}

#section-log #get-app {
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 1rem;
}

#section-log #get-app span {
  font-size: var(--font-size);
  font-weight: 400;
  color: rgb(38, 38, 38);
}

#section-log button {
  width: 8.5rem;
  height: 2.5rem;
  cursor: pointer;
  appearance: none;
  border: none;
}

#section-log button img {
  width: 100%;
  height: 100%;
}
