/*------ RESTARTING BROWSER ------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

/*------ BASES ------*/
body {
  background-color: rgb(250, 250, 250);
}

main {
  height: 100vh;
  gap: 2.03125rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------ SMARTPHONE IMAGE SECTION ------*/
#section-smartphone-image img.smartphone-image {
  height: 36.25rem;
}

/*------ LOGIN SECTION ------*/
#section-login #login-boxes {
  flex-direction: column;
  gap: 0.625rem;
}

#section-login #login-boxes #login-box {
  width: 100%;
  flex-direction: column;
  background-color: white;
  padding: 2rem 5rem;
  gap: 1.5rem;
  border: 1px solid rgb(219, 219, 219);
}

#section-login #login-boxes #login-box a {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: rgb(0, 149, 246);
  color: white;
  padding: 0.375rem;
  border-radius: 4px;
}

#section-login #login-boxes #login-box a#remove-account {
  color: rgb(0, 149, 246);
  background-color: white;
}

#section-login #login-boxes #logup-box {
  width: 100%;
  flex-direction: column;
  background-color: white;
  padding: 1.6rem 4rem;
  border: 1px solid rgb(219, 219, 219);
}

#section-login img.instagram-logo-image {
  width: 10.93rem;
}

#section-login img.user-photo {
  width: 5.25rem;
  border-radius: 6.25rem;
}

#section-login #login-boxes #logup-box span {
  font-size: 0.875rem;
  color: rgb(142, 142, 142);
}

#section-login #login-boxes #logup-box a {
  text-decoration: none;
  color: rgb(0, 149, 246);
  font-size: 0.875rem;
  font-weight: 600;
}

#section-login #get-app {
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 1rem;
}

#section-login #get-app span {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgb(38, 38, 38);
}

#section-login button {
  width: 8.5rem;
  height: 2.5rem;
  cursor: pointer;
  appearance: none;
  border: none;
}

#section-login button img {
  width: 100%;
  height: 100%;
}
