@media (max-width: 875px) {
  #section-smartphone-image {
    display: none;
  }
}

@media (max-width: 450px) {
  #section-log #login-boxes #login-box,
  #section-log #login-boxes #logup-box {
    padding: 2rem;
    background-color: var(--bg-color);
    border: none;
  }
}
